<!DOCTYPE html>
<html>
    <head>
        <title>Online payment simulator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <header></header>
            <section>
                <div id="confirm-step-1">
                    <div id="banks-code">
                        <p>Pankin koodi: <span th:text="{banks-code}"></span></p>
                    </div>
                    <form method="post" action="/confirm">
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Valitse tili
                                </span>
                                <select class="form-field-input" name="code" required>
                                    <option th:each="account ${accounts}" th:value="${account.id}" th:text="${account}"></option>
                                </select>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Pankin koodia vastaava tunnusluku
                                </span>
                                <input type="text" pattern="[0-9]{4}" class="form-field-input" name="code" title="Neljä (4) merkkiä pitkä tunnusluku, joka sisältää ainoastaan numeroita." required>
                            </label>
                        </div>
                        
                        <div class="form-actions">
                            <button type="submit" class="form-action">Jatka</button>
                        </div>
                    </form>
                </div>
                
                <div id="step-indicator" class="indicator">
                    <div class="indicator-step"></div>
                    <div class="indicator-step current-step"></div>
                    <div class="indicator-step"></div>
                </div>
            </section>
            <footer><div id="copyrights">&copy; <span class="copyright-holder" th:text="${BANK_NAME}"></span></div></footer>
        </div>
    </body>
</html>
