<!DOCTYPE html>
<html>
    <head>
        <title>Online payment simulator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <header></header>
            <section>
                <div id="summary-view">
                    <form method="post" action="/submitted">
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Tili
                                </span>
                                <span class="fake-input" th:text="${account}"></span>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Määrä
                                </span>
                                <span class="fake-input" th:text="${amount}"></span>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Saaja
                                </span>
                                <span class="fake-input" th:text="${to}"></span>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Eräpäivä
                                </span>
                                <span class="fake-input" th:text="${expireDate}"></span>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Maksaja
                                </span>
                                <span class="fake-input" th:text="${customer}"></span>
                            </label>
                        </div>
                        
                        <div class="form-field">
                            <label>
                                <span class="form-field-label-text">
                                    Viesti saajalle (valinnainen)
                                </span>
                                <input type="text" name="msgToReceiver" placeholder="Viesti saajalle (valinnainen)" />
                            </label>
                        </div>
                        
                        <div class="form-actions">
                            <button type="submit" class="form-action">Hyväksy maksu</button>
                        </div>
                    </form>
                </div>
                
                <div id="step-indicator" class="indicator">
                    <div class="indicator-step"></div>
                    <div class="indicator-step"></div>
                    <div class="indicator-step current-step"></div>
                </div>
            </section>
            <footer><div id="copyrights">&copy; <span class="copyright-holder" th:text="${BANK_NAME}"></span></div></footer>
        </div>
    </body>
</html>
