<!DOCTYPE html>
<html>
    <head>
        <title>Demo bills</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li><a href="/?to=Demo firma Oy&toIBAN=FI12 9999 1234 9876 89&amount=100.00&currency=EUR&ref=102452">Saaja: Demo firma Oy [FI12 9999 1234 9876 89], Määrä: 100,00 €, Viite: 102452</a></li>
            <li><a href="/?to=Demo yhdistys Ry&toIBAN=FI12 9999 4321 7698 46&amount=20.45&currency=EUR&ref=114780">Saaja: Demo yhdistys Ry [FI12 9999 4321 7698 46], Määrä: 20,45 €, Viite: 114780</a></li>
            <li><a href="/?to=Kaijan kauppa&toIBAN=FI12 9999 5748 6921 51&amount=75.95&currency=EUR&ref=162593">Saaja: Kaijan kauppa [FI12 9999 5748 6921 51], Määrä: 75,95 €, Viite: 162593</a></li>
        </ul>
    </body>
</html>
