<!DOCTYPE html>
<html>
    <head>
        <title>Online payment simulator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <header></header>
            <section>
                <h1>Istuntoa ei löytynyt</h1>
                <p>Tapahtui virhe! Emme tunnistaneet istuntoasi.</p>
            </section>
            <footer><div id="copyrights">&copy; <span class="copyright-holder" th:text="${BANK_NAME}"></span></div></footer>
        </div>
    </body>
</html>
